@import "~vue-evolve/src/assets/scss/main";
@import "settings";

// global styles

body,
html,
p {
  font-weight: 300;
  line-height: 1.5rem;
}

table {
  td {
    margin: 0;
    padding: .5rem;
    background-color: var(--color-white);
  }
}

// buttons
.button {
  border-radius: 20px;
}

// form styles
.order-form {
  .input-group {
    .input-group-field {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-left: 20px;
    }
  }

  .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

// transitions
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}
